<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>枕流阁</title>
</head>

<body>
    <%- css('css/bottom') %>
        <div id="list">
            <%- partial('_partial/header') %>
                <%- body %>
        </div>
        <p id="bottom">powerd by <a href="https://hexo.io/zh-cn/">Hexo</a> & <a href="https://github.com/Makuraryu/CHaN-Hexo-theme-">CHaN</a></p>
</body>


</html>