/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Noto+Serif+SC:wght@900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
 @import url('https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css');
 
:root{
  --byakuroku:#A8D8B9;
}

body{
  margin: 0 auto;
  font-family: "Noto Serif SC", serif;
  background-color: #FCFAF2;
  color: #0C4842;
}

a{
  text-decoration: none;
  color: #0C4842;
}

blockquote{
  position: relative;
  left: 1em;
}
blockquote::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #0C4842;
  left: -1em;
}

img{
  width: 40vw;
  position: relative;
  left: 10vw;
}
#passage h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}
#passage a{
  transition:  0.3s;
  border-bottom: solid;
}

#passage a:hover{
  font-weight: 700;
  border-bottom: thick double;
}
#passage p{
  text-indent: 2em;
}
.katex-display{
  overflow: scroll;
}

#passage strong{
  font-weight: 700;
}


#guider .date{
  position: absolute;
  right: 0;
}

#guider a{
  border-bottom: 0 solid;
  text-shadow: 0em 0em 0em #0F4C3A;
  transition: .3s;
}
#guider a:hover{
  border-bottom: thick double;
  text-shadow: 0.1em 0.1em 1em #0F4C3A;

}




@media (max-width: 760px) {
  img{
    width: 80vw;
    position: relative;
    left: 0vw;
  }
}  