.overview{
  margin:0px;
  width:90%;
  left:5%;
  margin-bottom:40px;
}
.postlist{
  margin-top: 0px;
}
.detail:hover::before{
  transform: translateX(-5px);
  opacity: 0;
}
.detail:hover::after{
  transform: translateX(5px);
  opacity: 0;
}

.posttitle{
  font-size: 40px;
}

#article{
  width: 90%;
  left: 5%;

}

#article img{
    position:relative;
    max-width:90vw;
    min-width:50vw;
}
.mainpage{
  position: relative;
  width: 90%;
  left: 5%;
  font-family: FandolSong;
}

.catposts{
  position:relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width:60%;
  -webkit-line-clamp: 1;
}

.catposts:hover::before{
  transform:translateX(-15px);
}
.mylinks>a:hover{
  letter-spacing:1px;
}
.mylinks>a:hover::before{
  transform:translateX(-15px);
}

.link>.description{
  position:relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width:50%;
  -webkit-line-clamp: 1;
}
.link:hover>.description{
  position:relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width:50%;
  -webkit-line-clamp: 1;
}

#vcomments{
  position:relative；

  width:100vw;


  left:0vw;
}




.gist .line-numbers {
  display: none;
}

.gist .line-data {
  font-size: 1em;
}
