---
import Layout from '../layouts/Base.astro';
const title = '关于';
---

<Layout pageTitle= {title}>
    <div id="passage">


        <p>2004年生人——无论终点何在，起点永远都不会改变。</p>

        <p>中文，日本語，English都能接受。</p>
        
        <p>目前就读于某211数学系，有志于挖掘漂亮的视点与思想。生活暂时是由阅读构成的，唯一算得上兴趣的事情是写作。</p>

        <p>当下喜欢的东西是数学的、文学的和哲学的，讨厌别人决定的生活。</p>

        <p>如今的目标是活得自在而散漫，任务是构筑属于自己的生活方式——经济的独立、政治的自由、时间的解放。博客的写作是目标也是手段，或许借此能形成某种“生态”——就像苏格兰咖啡馆，或者压根什么数学家的通信。</p>

        <p>如果你渴望和我建立这样的“生态”——你可以通过<a href="mailto:pumshang2004@icloud.com">邮件</a>或者<a href="https://t.me/Makuraryu">Telegram</a>联系我。</p>
    
    </div>
    
    
    

</Layout>
