---
import BaseHead from '../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Navi from '../components/Navi.astro';
import { ViewTransitions,fade } from 'astro:transitions';
import Cover from '../components/Cover.astro';
const { pageTitle } = Astro.props;
---

<!doctype html>
<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍶</text></svg>">
		<title>{ pageTitle }</title>
	</head>
	<body>
		<Cover pageTitle = { pageTitle } />
		<div id="uncover">
			<Navi pageTitle = { pageTitle } />
			<main>
				<div id="blanktop"></div>
				<slot />
				<div id="blankbot"></div>
			</main>

		</div>


	</body>
</html>
<style>
	main{
		position: relative;
		width: 60vw;
		left: 20vw;
		font-size: 16px;
		line-height: 30px;
	}
	#blanktop{
		position: relative;
		height: 10vh;
	}
	#blankbot{
		position: relative;
		height: 15vh;
	}

    @media (max-width: 760px) {
        main{
			width:90vw;
			left:5vw;
		}
    }  
</style>
